/* body {
    background-image: url("../images/bg1.jpg");

} */

body {
    background: url("../images/bgcat.jpeg") no-repeat center center fixed;
    background-size: cover;

}

h1 {
    color: black;
    text-align: center;
}